@charset "UTF-8";

/* 공통사항 시작 */
* {
    color: #888;
    padding: 0;
    margin: 0;
}

a {
    color: #888;
    text-decoration: none;
}

ul {
    list-style: none;
}

.displayFlex {
    display: flex;
}

/* 공통사항 끝 */

/* 가이드 라인 시작 */
/*div#wrap {
    border: 1px solid #000;
}*/
/*div#wrap>* {
    border: 1px solid #000;
}*/
/*div#wrap>div#slideShow {
    border: 4px solid #f00;
}*/

/*
#main>* {
    border: 4px solid #f00;
}
*/

/*#footer #footerInnerFrame>* {
    border: 2px solid #f00;
}*/
/* 가이드 라인 끝 */


/* 전체 배경색 시작 */
body {
    background-color: #fff;
}
/* 전체 배경색 끝 */


/* div#wrap 시작 */
div#wrap {
    width: 1200px;
    margin: 0 auto;
}
/* div#wrap 끝 */


/* header#header 시작 */
header#header {
    height: 100px;
    width: 100%;

    background-color: #caac7d;
    position: absolute;
    left: 0;
    top: 0;
}
#header #headerInnerFrame {
    width: 1200px;
    height: 100px;
    margin: 0 auto;

}

div#headerLogo {
    width: 500px;
    padding-top: 10px;
    /*border: 4px solid #000;*/
}

    /*nav#gnb 시작*/

    /*nav#gnb #mainMenu시작*/
nav#gnb {
    width: 700px;
/*    border: 4px solid #000;*/
    padding-top: 30px;

}
#gnb>ul {
    padding-left: 46px;
}
#gnb>ul::after {
    content: "";
    clear: both;
    display: block;
/*    border: 1px solid #f00;*/
}
#gnb>ul>li {
    border: 1px solid #555;  /*#555*/

    background-color: rgba(255, 255, 255, 0.6);
    float: left;
}
#gnb>ul>li:not(:first-child) {
    border-left: none;
}

#gnb li:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#gnb>ul#mainMenu>li>a {
    width: 80px;
    font-weight: bold;
    text-align: center;
    padding: 12px 34px;
    display: inline-block;
}
    /*nav#gnb #mainMenu끝*/

    /*nav#gnb .subMenu시작*/

#gnb .subMenu {


    background-color: rgba(255, 255, 255, 0.6);

    position: absolute;
    z-index: 1;

    transform: translateX(-1px);

    display: none;
}

/*
#gnb>ul#mainMenu>li:first-child ul {
    display: block;
}
*/


#gnb .subMenu a {
    width: 128px;
    font-weight: bold;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid #555;
    display: inline-block;
}
#gnb .subMenu>li:not(:first-child)>a {
    border-top: none;
}
    /*nav#gnb .subMenu끝*/

    /*nav#gnb 끝*/


/* header#header 끝 */


/* div#slideShow 시작 */
div#slideShow {
    height: 300px;
    margin-top: 100px;
}
#slideShow>div#slideFrame {
    width: 1200px;
    height: 300px;
    /*border: 4px solid #00f;*/
    overflow: hidden;

    position: relative;

}
#slideShow>div#slideFrame #promotionTxt {
    width: 320px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.85);

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);


}
/* div#slideShow 끝 */


/* main#main 시작 */
main#main {
    height: 200px;
}
#main>* {
    height: 200px;
    padding: 10px;
    flex: 1;
}
#main>div {
    border-right: 1px dotted #ddd;
}

#main>div>button {
    font-size: 18px;
    padding: 4px 12px;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-left: 20px;

    display: inline-block;
    position: relative;
    top: 1px;
}
#main div.tabContent {
    border: 1px solid #ccc;
}


/* div#bbsNotice 공지게시판 시작 */
#main div#bbsNotice table {
    height: 140px;
    width: 366px;
}
#main div#bbsNotice table td:first-child {
    padding-left: 10px;
}
#main div#bbsNotice table td:last-child {
    width: 100px;
    text-align: center;
}
#main div#bbsNotice table tr:first-child {
    cursor: pointer;
}
#main div#bbsNotice table td:hover {
    color: #666;
}
/* div#bbsNotice 공지게시판 끝 */


/* div#bbsGallery 갤러리게시판 시작 */
#main #bbsGallery #tabContentGallery {
    text-align: center;
    padding-top: 5px;
}

#main #bbsGallery #tabContentGallery img:hover {
    opacity: 0.7;
}
/* div#bbsGallery 갤러리게시판 끝 */


/* aside#banner 배너광고 시작 */
#main aside#banner {
    text-align: center;
}
/* aside#banner 배너광고 끝 */




/* main#main 끝 */


/* footer#footer 시작 */
footer#footer {
    height: 100px;
    width: 100%;
    background-color: #caac7d;
    position: absolute;
    left: 0;
}
#footer #footerInnerFrame {
    width: 1200px;
    height: 100px;
    /*border: 2px solid #00f;*/
    margin: 0 auto;

}


#footer div#footerLogo {
    width: 200px;
    padding-top: 10px;
}

#footer div#copyright {
    width: 800px;
    text-align: center;
    padding-top: 24px;
}

#footer div#sns {
    width: 200px;
    text-align: center;
    padding-top: 34px;
}
/* footer#footer 끝 */



/* div#layerPopupBg 시작 */
div#layerPopupBg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);

    position: absolute;
    left: 0;
    top: 0;

    display: none;
}

#layerPopupBg>#layerPopup {
    width: 620px;
    height: 280px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
#layerPopupBg h2 {
    margin-bottom: 20px;
}
#layerPopupBg p {
    margin: 10px;
}
#layerPopupBg p:last-child {
    text-align: right;
}
#layerPopupBg p:last-child span {
    width: 100px;
    height: 40px;
    color: #eee;
    font-weight: bold;
    text-align: center;
    line-height: 40px;

    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);

    display: inline-block;
    cursor: pointer;
}
/* div#layerPopupBg 끝 */


/* IE9 버전 이하에 적용 */
header, main, nav,
footer, address, aside {
    display: block;
}
/* IE9 버전 이하에 적용 */





